<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
        }
        button {
            margin: 10px;
            padding: 15px 30px;
            font-size: 18px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Try any Route</h1>
    <a href="/get_route"><button>GET Route</button></a>
    <a href="/insert_user_form"><button>POST Route</button></a>
    <a href="/delete_user_form"><button>DELETE Route</button></a>
</body>
</html>
